<div class="article-container mr-3">
      <div class="item item1" style="background-image: url('<%= asset_path 'recent/recent_1.jpg' %>');">
        <div class="card-content">
          <p class="recent-cat">ARTICLE</p>
          <h3 class="recent-name" style="color: white;">Saving Up</h3>
        </div>
      </div>

      <div class="item item2" style="background-image: url('<%= asset_path 'recent/recent_2.jpg' %>');">
        <div class="card-content">
          <p class="recent-cat">CHARACTER STUDY</p>
          <h3 class="recent-name">Marching in the Rain</h3>
        </div>
      </div>

      <div class="item item3" style="background-image: url('<%= asset_path 'recent/recent_3.jpg' %>');">
        <div class="card-content">
          <p class="recent-cat">VIDEO</p>
          <h3 class="recent-name" style="color: white;">Walking towards the Goal</h3>
        </div>
      </div>

      <div class="item item4" style="background-image: url('<%= asset_path 'recent/recent_4.jpg' %>');">
        <div class="card-content">
          <p class="recent-cat" style="color: black;" >SHARING</p>
          <h3 class="recent-name" style="color: black;">Turbulent Times</h3>
        </div>
      </div>

      <div class="item item5" style="background-image: url('<%= asset_path 'recent/recent_5.jpg' %>');">
        <div class="card-content">
          <p class="recent-cat" style="color: white;">VIDEO</p>
          <h3 class="recent-name" style="color: white;">Can you Count the Stars?</h3>
        </div>
      </div>

      <div class="item item6" style="background-image: url('<%= asset_path 'recent/recent_6.jpg' %>');">
        <div class="card-content">
          <p class="recent-cat" style="color: white;">ARTICLE</p>
          <h3 class="recent-name" style="color: white;">In the Beginning</h3>
        </div>
      </div>
      <div class="item item7" style="background-image: url('<%= asset_path 'recent/recent_7.jpg' %>');">
        <div class="card-content">
          <p class="recent-cat" style="color: white;">LESSON</p>
          <h3 class="recent-name" style="color: white;">God created us in His image!</h3>
        </div>
      </div>
      <div class="item item8" style="background-image: url('<%= asset_path 'recent/recent_8.jpg' %>');">
        <div class="card-content">
          <p class="recent-cat" style="color: white;">POEM</p>
          <h3 class="recent-name" style="color: white;">When you're feeling so blue...</h3>
        </div>
      </div>
      <div class="item item9" style="background-image: url('<%= asset_path 'recent/recent_9.jpg' %>');">
        <div class="card-content">
          <p class="recent-cat">LEARN</p>
          <h3 class="recent-name" style="color: white;">Books to Read</h3>
        </div>
      </div>
      <div class="item item10" style="background-image: url('<%= asset_path 'recent/recent_10.jpg' %>');">
        <div class="card-content">
          <p class="recent-cat" style="color: white;">ARTICLE</p>
          <h3 class="recent-name" style="color: white;">The Night Sky</h3>
        </div>
      </div>
    </div>
