
<div class="topic-container mr-3">
  <div class="topic-item topic-item1">
    <div class="mt-2">
      <%= image_tag "topics/love.png", alt: "alttext" %>
      <p>Love</p>
    </div>
  </div>
  <div class="topic-item topic-item2">
    <div class="mt-2">
      <%= image_tag "topics/trust.png", alt: "alttext" %>
      <p>Trust</p>
    </div>
  </div>
  <div class="topic-item topic-item3">
    <div class="mt-2">
      <%= image_tag "topics/peace.png", alt: "alttext" %>
      <p>Peace</p>
    </div>
  </div>
  <div class="topic-item topic-item4">
    <div class="mt-2">
      <%= image_tag "topics/compassion.png", alt: "alttext" %>
      <p>Compassion</p>
    </div>
  </div>
  <div class="topic-item topic-item5">
    <div class="mt-2">
      <%= image_tag "topics/fruits.png", alt: "alttext" %>
      <p>Fruits of the Spirit</p>
    </div>
  </div>
  <div class="topic-item topic-item6">
    <div class="mt-2">
      <%= image_tag "topics/hope.png", alt: "alttext" %>
      <p>Hope</p>
    </div>
  </div>
  <div class="topic-item topic-item7">
    <div class="mt-2">
      <%= image_tag "topics/love.png", alt: "alttext" %>
      <p>Obedience</p>
    </div>
  </div>
  <div class="topic-item topic-item8">
    <div class="mt-2">
      <%= image_tag "topics/prayer.png", alt: "alttext" %>
      <p>Prayer</p>
    </div>
  </div>
  <div class="topic-item topic-item9">
    <div class="mt-2">
      <%= image_tag "topics/evangalism.png", alt: "alttext" %>
      <p>Evangalism</p>
    </div>
  </div>
  <div class="topic-item topic-item10">
    <div class="mt-2">
      <%= image_tag "topics/baptism.png", alt: "alttext" %>
      <p>Baptism</p>
    </div>
  </div>

</div>

